.filter {
  display: inline-block;
  position: relative;
}

.title {
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  padding-left: 25px;
  padding-right: 25px;
}

.title:hover {
  text-decoration: underline;
}
