.root {
  position: absolute;
  background-color: #fff;
  border-radius: 8px;
  width: 540px;
  top: 30px;
  left: 0;
  transform: translateX(-50%);
}

.container {
  padding: 30px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.content {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 30px;
  padding-right: 30px;
}
