.root {
  position: absolute;
  background-color: #fff;
  border-radius: 8px;
  width: 540px;
  top: 30px;
  left: 0;
  transform: translateX(-50%);
}

.container {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
  padding: 30px;
  padding-right: 25px;
  padding-top: 50px;
}

.filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 300px;
  overflow: auto;
}
